@color-white: #ffffff;
@color-black: #000000;
@color-body: #333333;
@color-dark-grey: #666666;
@color-semi-dark-grey: #999999;
@color-grey: #cccccc;
@color-light-grey: #f5f5f5;
@color-mild-grey: #e9e9e9;
@color-blue: #0078c0;
@color-dark-blue: #263950;
@color-red: #ff0000;
@color-dark-red: #c90400;
@color-green: #3ab85d;
@color-yellow: #ffd200;
@color-button-primary: @color-blue;
@color-button-primary-hover: #3498db;
@color-button-secondary: @color-dark-blue;
@color-button-secondary-hover: #385980;

@color-banking-blue: #48c8ff;
@color-banking-dark-blue: #00a1e4;
@color-banking-darker-blue: #0071bd;
@color-banking-darkest-blue: #00528a;

/*Calculating spprites position and size based on required input*/
.bgPositionFit (@spriteIco_pxSize_original, @spriteIco_pxRequired_value, @imgFile_pxSize_w, @imgFile_pxSize_h, @bgImg_pxPosition_x:0, @bgImg_pxPosition_y:0) when (isnumber(@spriteIco_pxSize_original)) and (isnumber(@spriteIco_pxRequired_value)) and (isnumber(@imgFile_pxSize_w)) and (isnumber(@imgFile_pxSize_h)) and (isnumber(@bgImg_pxPosition_x)) and (isnumber(@bgImg_pxPosition_y)){
    // calculate ratio
    @spriteResize_ratio_value:          floor(((100/@spriteIco_pxSize_original)*(@spriteIco_pxRequired_value)));
    @spriteResize_ratio:                ((@spriteResize_ratio_value)/100); //pourcentage in decimals. ex: 75% = 0.75
    //turn it in a pourcentage string
    @spriteResize:                      ~'@{spriteResize_ratio_value}%'; //pourcentage string interpolation
    // calculate background-size height value
    @imgFile_pxResized_h_value:         floor(((@imgFile_pxSize_h)*(@spriteResize_ratio)));
    //turn it in a pixel string
    @imgFile_pxResized_h:               ~'@{imgFile_pxResized_h_value}px'; //pixel string interpolation
    //turn pxRequired in pixel string
    @spriteIco_pxResized :              ~'@{spriteIco_pxRequired_value}px'; //pixel string interpolation
    // re-calculate background-position after applying resized value
    @resized_bgImg_pxPosition_x_value:  floor(((@bgImg_pxPosition_x)*(@spriteResize_ratio))); //calcul (ex: 250px * 68% = 170)
    @resized_bgImg_pxPosition_y_value:  floor(((@bgImg_pxPosition_y)*(@spriteResize_ratio)));  //calcul (ex: 50px * 68% = 34)
    //turn them in pixel strings
    @resized_bgImg_pxPosition_x:        ~'@{resized_bgImg_pxPosition_x_value}px'; //pixel string interpolation
    @resized_bgImg_pxPosition_y:        ~'@{resized_bgImg_pxPosition_y_value}px'; //pixel string interpolation
    /* render*/
    width: @spriteIco_pxResized;
    height: @spriteIco_pxResized;
    background-size: auto (@imgFile_pxResized_h);
	/* render*/
	background-position: ~'-@{resized_bgImg_pxPosition_x}' ~'-@{resized_bgImg_pxPosition_y}';
}

.banking-primary-btn-color {
	background-color: @color-banking-darker-blue !important;
	border-color: @color-banking-darker-blue !important;
	color: @color-white !important;
	&:hover, &:active, &:focus {
		background-color: @color-banking-darkest-blue !important;
		border-color: @color-banking-darkest-blue !important;
		color: @color-white !important;
	}
}
.banking-secondary-btn-color {
	background-color: @color-banking-blue !important;
	border: @color-banking-blue !important;
	color: @color-white !important;
	&:hover, &:active {
		background-color: @color-banking-dark-blue !important;
		border-color: @color-banking-dark-blue !important;
		color: @color-white !important;
	}
	&:focus {
		background-color: @color-banking-blue !important;
		border-color: @color-banking-blue !important;
		color: @color-white !important;
	}
}
.xbl-component > .xforms-group.claims {
		margin-top: 0;
}
.transition {
	transition: all 300ms ease;
}
.blue-explanatory-text {
	color:@color-button-primary-hover;
	border-bottom: 1px solid @color-grey;
	margin-bottom: 60px!important;
	line-height: 30px;
	font-weight: 600;
}
.box-shadow(@x; @y; @a; @b; @color; @opacity) {
	box-shadow: @x @y @a @b fade(@color, @opacity);
	-moz-box-shadow: @x @y @a @b fade(@color, @opacity);
	-webkit-box-shadow: @x @y @a @b fade(@color, @opacity);
}
.appearance-none {
	appearance: none !important;
	-webkit-appearance: none !important;
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	-o-appearance: none !important;
	&, &:hover, &:focus {
		outline: none !important;
		appearance: none !important;
		-webkit-appearance: none !important;
		-webkit-appearance: none !important;
		-moz-appearance: none !important;
		-o-appearance: none !important;
		text-decoration: none !important;
		outline: 0 !important;
		border: 0;
		&::-ms-expand {
			display: none;  // Need this to hide default select in IE10
		}
		&::-ms-value {
			background-color: transparent; // Need this to hide default select in IE10
			color: #000;
		}
	}
	&::-ms-expand {
		display: none;  // Need this to hide default select in IE10
	}
	&::-ms-value {
		background-color: transparent; // Need this to hide default select in IE10
		color: #000;
	}
	background: none;
}
.grey-border-on {
	border-color: @color-grey !important;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	&, &:hover {
		border-color: @color-grey !important;
	}
	&:focus {
		border-color: @color-banking-dark-blue !important;
	}
}
//Upload Feature
.orbeon {
	&.orbeon-portlet-div .fr-mode-edit .upload-repeater .fr-grid .fr-grid-body  .xforms-label + .xforms-control {
		width: 100%!important;
	}
	.fr-message-success {
		display: none;
	}
	&.orbeon-portlet-div .upload-repeater .xforms-visited > .xforms-alert.xforms-active {
		left: auto;
		width: 100%;
		line-height: 1.6;
	}
	.upload-repeater {
		overflow: hidden;
		margin-top: 20px;
		.xforms-trigger.xforms-trigger-appearance-minimal a {
			color: transparent;
		}
		.xforms-upload .xforms-upload-progress .yui-pb {
			width: 100%!important;
			height: 12px!important;
			border:1px solid @color-grey;
			border-radius: 2px;
		}
		.xforms-output-appearance-xxforms-download {
			.icon-download {
				display: none;
			}
			.xforms-output-output {
				background: @color-dark-blue;
				color: @color-white;
				text-decoration: none;
				display: inline-block;
				padding: 8px;
				margin: 10px 0 20px;
				text-align: center;
				width: 50%;
				transition: all 300ms ease;
				line-height: 1;
				border: none;
				font-size: 12px;
				font-weight: 400;
				text-transform: uppercase;
				&:hover {
					background-color: @color-button-secondary-hover;
				}
				@media (max-width: 767px) {
					min-width: 200px;
				}
			}
		}
		.yui-pb-ltr .yui-pb-mask {
			border:none;
		}
		.yui-pb-ltr .yui-pb-bar {
			background: @color-banking-blue;
			border: 1px solid @color-grey;
		}
		.fr-attachment.orbeon-upload {
			line-height: 10px;
		}
		.icon-plus-sign {
			width: 30px;
			height: 30px;
			background-image: none;
			background-color: @color-dark-blue;
			border-radius: 50%;
			position: relative;
			cursor: pointer;
			&:before {
				content: '+';
				color: @color-white;
				font-size: 30px;
				line-height: 1;
				padding: 0 7px;
				font-weight: bold;
			}
		}
		.fr-grid-th {
			.xforms-control.xforms-output {
				padding-left: 20px;
				.xforms-label {
					margin-left: 0;
					color: @color-dark-blue;
				}
				.xforms-hint {
					width: 100%;
					margin-left: 0;
					left: 0;
				}
			}
		}
		&.xbl-fr-grid .fr-grid .fr-grid-tr > .fr-grid-td {
			border: none;
			padding-left: 25px;
		}
		.fr-grid-tr {
			.fr-repeat-column-left.xforms-group {
				visibility: hidden;
			}
		}
		.fr-grid-master-row {
			.fr-repeat-column-left.xforms-group {
				border: none;
			}
		}
		.table-bordered {
			border: none;
			width: 50%;
			float: right;
			@media (max-width: 767px) {
				width: 100%;
				float: none;
			}
		}
		table th {
			background: transparent;
		}
		.fr-grid-th {
			border-left: none;
		}
		.xforms-upload-info {
			overflow: hidden;
			position: relative;
			padding-left: 40px;
			background:none ;
			line-height: 1;
			& > * {
				display: inline-block;
				height: 20px;
			}
			.xforms-upload-filename {
				color: @color-dark-blue;
				font-size: 14px;
				overflow: hidden;
				text-align: center;
				text-overflow: ellipsis;
				white-space: nowrap;
				max-width: 260px;
				@media (max-width: 767px) {
					max-width: 140px;
				}
			}
			.xforms-upload-size {
				display: none;
			}
			.xforms-upload-remove {
				float: right;
			}
			.xforms-upload-mediatype {
				display: none;
			}
			.xforms-upload-remove {
				opacity: 0;
				position: absolute;
				z-index: 2;
				right: 0;
				top: 0;
			}
			&:before, &:after {
				position: absolute;
				top: 3px;
				font-family: 'Glyphicons Halflings', sans-serif;
				color: @color-dark-blue;
				font-weight: bold;
				z-index: 1;
			}
			&:before {
				content: '\e014';
				right: 10px;
			}
			&:after {
				content: '\e142';
				left: 4px;
			}
		}
	}
}

//IE11 radiobuttons fix, don't delete!
.yui-skin-sam main {
	display: block;
}
.xformContainer {
	.description {
		margin: 0 0 10px;
	}
}
.orbeon.orbeon-portlet-div {
	input, button, select, textarea {
		font-family: inherit;
	}
	.navbar {
		display: none;
	}
	[class*="span"]{
		margin: 0;
	}
	.orbeon-portlet-body {
		.xforms-form {
			.fr-form-description {
				display: none;
			}
			width: 100%;
			.container {
				padding: 0;
				width: 100%;
				.span12 {
					width: 100%;
					margin: 0 auto !important;
					min-height: inherit !important;
				}
			}
			.fr-border {
				position: relative;
				border: 1px solid @color-grey;
				border-top: none;
				padding: 20px 0 50px;
				margin-bottom: 0;
			}
			.xxforms-animate {
				background-color: @color-light-grey;
			}
			.xbl-fr-section {
				background-color: @color-light-grey;
				margin: 0 auto;
				max-width: 940px;
				width: 100%;
				h2, h3, h4, h5, h6 {
					&.fr-section-title {
						background-color: @color-light-grey;
						background-image: none;
						border-top: 1px solid @color-grey;
						padding: 10px 0 0;
						margin: 20px 0 10px;
						pointer-events: none;
						a {
							border-top: none;
							color: @color-body;
							font-size: 20px;
							padding: 9px 0;
						}
						.fr-section-label {
							&.fr-section-closed {
								background-image: none;
							}
							&.fr-section-open {
								background-image: none;
							}
						}
					}
				}
				&.personal-details, .border-none {
					h2 {
						&.fr-section-title:first-of-type {
							border: none;
							padding: 0;
						}
					}
				}
			}
			@media (max-width: 767px) {
				margin: 0;
				.xforms-group {
					margin-bottom: 0 !important;
				}
			}
		}
		.fr-grid {
			&.fr-grid-2 {
				.fr-grid-tr > .fr-grid-td {
					display: block;
				}
			}
			&:not(.fr-repeat) > .fr-grid-body > .fr-grid-tr > .fr-grid-td > * {
				padding: 0 0 15px;
				.xforms-disabled {
					padding: 0 4px 0;
				}
				@media (max-width: 767px) {
					display: block;
				}
			}
		}
	}
	.fr-mode-edit {
		div[id*="trip-details-control"] {
			.fr-grid .fr-grid-body {
				.fr-grid-tr {
					&:last-of-type, &:nth-last-child(-n+2) {
						.fr-grid-td:first-of-type {
							display: inline-block;
							vertical-align: middle;
							width: 50%;
							padding-right: 40px;
							margin-left: -2px;
							.ageoftraveller {
								&.xforms-label {
									padding-right: 0;
									width: 100%;
									padding-left: 4px;
								}
							}
							@media (max-width: 767px) {
								width: 100%;
								max-height: 25px;
							}
						}
						.fr-grid-td {
							display: inline-block;
							vertical-align: top;
							width: calc(~"10% - 10px");
							margin-left: 10px;
							@media (max-width: 767px) {
								span{
									padding: 0;
									margin: 0;
								}
							}
							.ageoftraveller {
								.xforms-label {
									width: 20%;
									padding-right: 16px;
									margin-left: -5px;
									overflow: visible;
									@media (max-width: 767px) {
										margin-left: 0;
									}
									&::after{
										right: 10px;
										top: -15px;
									}
								}
								.xforms-input-input {
									text-align: center;
									width: 80% !important;
									margin: 3px 0;
									padding: 10px 5px;
									@media (max-width: 767px) {
										width: 100% !important;
										margin-top: -5px;
									}
								}
								.xforms-active.xforms-alert {
									position: relative;
									left: -5px;
									width: 100%;
									text-align: right;
								}
							}
							@media (max-width: 767px) {
								width: 20%;
								padding: 0 4px;
								margin-left: 0;
							}
						}
					}
				}
			}
		}
		.fr-grid .fr-grid-body {
			select {
				height: 40px;
				margin-left: -4px;
				border-radius: 5px;
				@media (max-width: 767px) {
					margin-left: 0;
				}
			}
			.xforms-required {
				.xforms-label {
					&:before {
						display: none;
						@media (max-width: 767px) {
							display: inline-block;
							margin-right: 5px;
						}
					}
					&:after {
						content: '*';
						position: absolute;
						right: 25px;
						top: -2px;
						vertical-align: middle;
						font-size: 150%;
						line-height: 1;
						@media (max-width: 767px) {
							display: none;
						}
					}
				}
				&.xforms-empty {
					.xforms-label:before, .xforms-label:after {
						color: @color-dark-red;
					}
				}
			}
			.xforms-label {
				font-size: 14px;
				color: @color-dark-blue;
				display: inline-block;
				width: 50%;
				margin-left: -2px;
				margin-right: -2px;
				padding-right: 40px;
				position: relative;
				vertical-align: middle;
				text-align: right;
				line-height: normal;
				text-transform: none;
				pointer-events: none;
				&:before {
					line-height: 1;
				}
				@media (max-width: 767px) {
					width: 100%;
					text-align: left;
				}
				& + .xforms-input-input,
				& + .xforms-control,
				& + select,
				& + .xforms-items,
				& + textarea {
					display: inline-block;
					width: 50% !important;
					margin-left: -2px;
					margin-right: -2px;
					vertical-align: middle;
					float: none;
					border-radius: 5px;
					@media (max-width: 767px) {
						width: 100% !important;
					}
				}
				& + .xforms-input-input {
					&.xforms-type-date {
						.banking & {
							border-radius: 5px;
						}
					}
					.banking & {
						border-radius: 0;
					}
				}
			}
			input {
				border-radius: 0;
				&[type="text"], &[type="password"], &[type="datetime"],
				&[type="datetime-local"], &[type="date"], &[type="month"],
				&[type="time"], &[type="week"], &[type="number"],
				&[type="email"], &[type="url"], &[type="search"],
				&[type="tel"], &[type="color"] {
					border: 1px solid #c3c4cf;
					height: 40px;
					border-radius: 2px;
				}
				&[type="text"] {
					padding: 10px;
				}
			}
			.xforms-type-date {
				&:after {
					position: relative;
					right: 0;
					display: inline-block;
				}
				.xforms-input-input.xforms-type-date {
					background-image: url("images/calendar.png");
					padding: 10px;
					background-position: 98% center;
					background-repeat: no-repeat;
				}
			}
			.xforms-type-time {
				.xforms-input-input.xforms-type-time {
					background-image: url("images/clock.png");
					padding: 10px;
					background-position: 98% center;
					background-repeat: no-repeat;
				}
			}
			.property-cover-required,
			.anyone-property-smoke,
			.exterior-construction-materials,
			.what-locks-are-in-place,
			.do-you-smoke,
			.second-person-smoke {
				.xforms-items {
					background: none;
					border: 0;
					box-shadow: none;
					overflow: hidden;
					vertical-align: middle;
					@media (max-width: 767px) {
						text-align: center;
					}
					.xforms-selected, .xforms-deselected {
						padding: 0 20px;
						margin:  0 0 0 -20px;
						@media (max-width: 767px) {
							padding: 15px;
							margin:  0 auto;
						}
						@media (max-width: 360px) {
							padding: 8px;
							margin:  0 auto;
						}
						span {
							/*Gamification icons background*/
							&:before {
								content: '';
								display: block;
								left: auto;
								border: 0;
								border-radius: 5px;
								margin-bottom: 7px;
								background: transparent url("images/gamification.png") no-repeat;
							}
							width: 96px;
							border: none;
							border-radius: 0;
							line-height: 1.2;
							margin: 0 auto;
							padding: 0;
							position: relative;
							text-align: center;
							text-indent: 0px;
							text-transform: none;
							&:after {
								display: none;
							}
							@media (max-width: 768px) {
								width: 72px;
								text-transform: none;
							}
						}
					}
				}
				input[type="radio"], input[type="checkbox"] {
					margin-left: 0;
					display:  none;
				}
			}
			/*Gamification icons*/
			.property-cover-required .xforms-items {
				span {
					&:first-child {
						&.xforms-selected span:before {
							.bgPositionFit(96, 96, 864, 192, 0, 96);
							@media (max-width: 768px) {
								.bgPositionFit(96, 72, 864, 192, 0, 96);
							}
						}
						&.xforms-deselected span:before {
							.bgPositionFit(96, 96, 864, 192, 0, 0);
							@media (max-width: 768px) {
								.bgPositionFit(96, 72, 864, 192, 0, 0);
							}
						}
					}
					&:nth-child(2) {
						&.xforms-selected span:before {
							.bgPositionFit(96, 96, 864, 192, 96, 96);
							@media (max-width: 768px) {
								.bgPositionFit(96, 72, 864, 192, 96, 96);
							}
						}
						&.xforms-deselected span:before {
							.bgPositionFit(96, 96, 864, 192, 96, 0);
							@media (max-width: 768px) {
								.bgPositionFit(96, 72, 864, 192, 96, 0);
							}
						}
					}
					&:nth-child(3) {
						&.xforms-selected span:before {
							.bgPositionFit(96, 96, 864, 192, 192, 96);
							@media (max-width: 768px) {
								.bgPositionFit(96, 72, 864, 192, 192, 96);
							}
						}
						&.xforms-deselected span:before {
							.bgPositionFit(96, 96, 864, 192, 192, 0);
							@media (max-width: 768px) {
								.bgPositionFit(96, 72, 864, 192, 192, 0);
							}
						}
					}
				}
			}
			.anyone-property-smoke, .do-you-smoke, .second-person-smoke {
				.xforms-items {
					span {
						&:first-child {
							&.xforms-selected span:before {
								.bgPositionFit(96, 96, 864, 192, 288, 96);
								@media (max-width: 768px) {
									.bgPositionFit(96, 72, 864, 192, 288, 96);
								}
							}
							&.xforms-deselected span:before {
								.bgPositionFit(96, 96, 864, 192, 288, 0);
								@media (max-width: 768px) {
									.bgPositionFit(96, 72, 864, 192, 288, 0);
								}
							}
						}
						&:nth-child(2) {
							&.xforms-selected span:before {
								.bgPositionFit(96, 96, 864, 192, 384, 96);
								@media (max-width: 768px) {
									.bgPositionFit(96, 72, 864, 192, 384, 96);
								}
							}
							&.xforms-deselected span:before {
								.bgPositionFit(96, 96, 864, 192, 384, 0);
								@media (max-width: 768px) {
									.bgPositionFit(96, 72, 864, 192, 384, 0);
								}
							}
						}
					}
				}
			}
			.exterior-construction-materials .xforms-items {
				span {
					&:first-child {
						&.xforms-selected span:before {
							.bgPositionFit(96, 96, 864, 192, 480, 96);
							@media (max-width: 768px) {
								.bgPositionFit(96, 72, 864, 192, 480, 96);
							}
						}
						&.xforms-deselected span:before {
							.bgPositionFit(96, 96, 864, 192, 480, 0);
							@media (max-width: 768px) {
								.bgPositionFit(96, 72, 864, 192, 480, 0);
							}
						}
					}
					&:nth-child(2) {
						&.xforms-selected span:before {
							.bgPositionFit(96, 96, 864, 192, 576, 96);
							@media (max-width: 768px) {
								.bgPositionFit(96, 72, 864, 192, 576, 96);
							}
						}
						&.xforms-deselected span:before {
							.bgPositionFit(96, 96, 864, 192, 576, 0);
							@media (max-width: 768px) {
								.bgPositionFit(96, 72, 864, 192, 576, 0);
							}
						}
					}
				}
			}
			.what-locks-are-in-place .xforms-items {
				span {
					&:first-child {
						&.xforms-selected span:before {
							.bgPositionFit(96, 96, 864, 192, 672, 96);
							@media (max-width: 768px) {
								.bgPositionFit(96, 72, 864, 192, 672, 96);
							}
						}
						&.xforms-deselected span:before {
							.bgPositionFit(96, 96, 864, 192, 672, 0);
							@media (max-width: 768px) {
								.bgPositionFit(96, 72, 864, 192, 672, 0);
							}
						}
					}
					&:nth-child(2) {
						&.xforms-selected span:before {
							.bgPositionFit(96, 96, 864, 192, 768, 96);
							@media (max-width: 768px) {
								.bgPositionFit(96, 72, 864, 192, 768, 96);
							}
						}
						&.xforms-deselected span:before {
							.bgPositionFit(96, 96, 864, 192, 768, 0);
							@media (max-width: 768px) {
								.bgPositionFit(96, 72, 864, 192, 768, 0);
							}
						}
					}
				}
			}
			.xforms-items {
				display: inline-block;
				width: 100%; // Added 2017.09.01 to make radio buttons inline
				vertical-align: middle;
				.xforms-selected, .xforms-deselected {
					display: inline-block;
					vertical-align: top;
					.radio {
						margin: 0;
						vertical-align: initial;
					}
				}
			}
		}
		.fr-buttons, .xbl-fr-error-summary {
			display: none;
		}
		.js-button-recalculate {
			margin-top: 20px;
			margin-right: 5px;
			margin-bottom: 0 !important;
			text-align: right;
			.btn {
				.banking-secondary-btn-color;
				.transition;
				width: 32%;
				height: 40px;
				line-height: 1;
				border: none;
				font-size: 16px;
				font-weight: 400;
				text-transform: uppercase;
				background-image: none;
				box-shadow: none;
				text-shadow: none;
				overflow: hidden;
				text-align: center;
				text-overflow: ellipsis;
				white-space: nowrap;
				@media (max-width: 639px) {
					width: 100%;
				}
			}
		}
	}
	.xforms-visited, .xforms-invalid {
		& > .xforms-alert.xforms-active, & > .xforms-visited.xforms-alert.xforms-active {
			width: 50%;
			text-align: left;
			position: relative;
			float: right;
			left: -6px;
			@media (max-width: 767px) {
				float: none;
				width: 100%;
				left: 0px;
			}
		}
	}
	.xforms-hint-appearance-full .xforms-hint,
	.xforms-hint-appearance-inline .xforms-hint {
		width: 50%;
		text-align: left;
		position: relative;
		left: -6px;
		padding: 1px;
		@media (max-width: 767px) {
			width: 100%;
			left: 0px;
		}
	}
}

.xforms-select1 {
	.xforms-items {
		@media (max-width: 767px) {
			text-align: center;
			.life-coverage & {
				text-align: left;
			}
		}
		span {
			.radio {
				margin: 20px auto;
				input[type="radio"] {
					//display: none; //cannot use this as it affects showing of the warning messages below the field
					border: none;
					height: 0;
					.appearance-none;
					&:checked {
						& ~ span::after{
							background: @color-dark-blue;
						}
					}
				}
				span {
					line-height: 0;
					margin: 10px;
					padding-left: 49px;
					text-indent: -40px;
					text-transform: none;
					position: relative;
					&::before {
						border: 5px solid #dadde0;
						border-radius: 100%;
						content: '';
						height: 40px;
						position: relative;
						width: 40px;
						display: inline-block;
						left: -9px;
						vertical-align: middle;
						box-sizing: border-box;
					}
					&::after {
						border-radius: 100%;
						content: '';
						display: block;
						position: absolute;
						height: 22px;
						width: 22px;
						top: 9px;
						left: 9px;
						transition: background 0.3s linear;
						-webkit-transition: background 0.3s linear;
					}
				}
			}
		}
	}
}

div[id*="property-coverage-details-section-control"], div[id*="section-1-control"],
div[id*="coverage-information-section-control"], div[id*="trip-details-control"],
div[id*="contact-expert-control"], .claims, .auto-claim {
	.fr-section-title {
		display: none;
	}
}
.xbl-component {
	>.xforms-group {
		margin-top: 30px;
	}
	&.personal-details, &.border-none {
		>.xforms-group {
			margin-top: 0;
		}
	}
}

.orbeon .fr-grid:not(.fr-repeat) > .fr-grid-body > .fr-grid-tr > .fr-grid-td {
	input::-ms-clear {
		display: none !important;
	}
}

// Red border on invalid SELECT fields
.xforms-select1.xforms-invalid.xforms-visited {
	select {
		border: 2px solid @color-dark-red;
	}
}

// Red border on invalid INPUT fields
.xforms-input.xforms-invalid.xforms-visited {
	input {
		border: 2px solid @color-dark-red !important;
	}
}

// Color and alignment of the error message displayed below input fields
.xforms-invalid {
	>.xforms-alert.xforms-active {
		color: @color_1;
		text-align: right;
		background-image: none;
	}
}
// Border styling of input fields on focus
.xforms-input-input {
	&:focus {
		border: 2px solid #0078C0 !important;
		box-shadow: none !important;
		outline: none !important;
	}
}

// **Aco**  Border styling of select fields on focus
.xforms-select1 {
	select {
		&:focus {
			border: 2px solid #0078C0;
			box-shadow: none;
			outline: none;
		}
	}
}

/***Orbeon OLD***/

@color_1: #ff5454;
@color_2: #fff;
@color_3: #515151;
@color_5: #222;
@color_6: #333;
@background_color_3: #3498DB;
@background_color_5: gray;
@background_color_6: #c8cdd3;


/*Validation error popup*/
.orbeon {
	a {
		outline: 0 !important;
	}

	label {
		font-size: 14px;
	}
	textarea {
		float: right;
		margin-left: 20px;
		border: 1px solid #c3c4cf;
		height: 35px;
		border-radius: 2px;
	}
	.uneditable-input {
		float: right;
		margin-left: 20px;
		border: 1px solid #c3c4cf;
		height: 35px;
		border-radius: 2px;
	}

	.xbl-component.xbl-fr-section {
		//		margin-bottom: 20px;
		&+.fr-page-break-before {
			margin-top: -20px;
		}
		&:last-child {
			margin-bottom: 0;
			border-bottom: 0;
		}
		.xbl-component.xbl-fr-section {
			margin-bottom: 0;
			border-bottom: 2px dotted #898989;
			&:last-child {
				border: none;
			}
		}
	}
	.xforms-hint {
		float: right;
		text-align: right;
	}
	.radio {
		input[type="radio"] {
			margin-left: 20px;
		}
	}
	form {
		position: relative;
	}
	.row {
		margin: 0 !important;
	}
	.span12 {
		width: 100%;
	}
	.container {
		width: 100%;
	}
	.navbar-static-top {
		.container {
			width: 100%;
		}
	}
	.navbar-fixed-top {
		.container {
			width: 100%;
		}
	}
	.navbar-fixed-bottom {
		.container {
			width: 100%;
		}
	}
	.xforms-trigger {
		cursor: default;
		a {
			cursor: default;
		}
	}
}


// Orbeon popup
.yui-skin-sam {
	.yui-panel-container {
		padding-right: 10px;
	}
	// Dropdown calendar
	.yui-calcontainer {
		border: 2px solid @color-blue;
		background-color: @color-white;
		margin-left: 1px;
		padding: 0;

		/*calender_popup_popup*/
		.yui-cal-nav {
			width: 266px;
			background-color: @color-white;
			border: none;
			margin: 0;
			left: 8%;
			top: 12%;
			.yui-cal-nav-btn.yui-default {
				background: none;
				border: none;
				margin-bottom: 4px;
				button {
					border: none;
					background-color: @color-button-secondary;
					text-transform: uppercase;
					color: @color-white;
					outline: none;
					font-size: 15px;
					width: 70px;
					margin: 5px 10px 10px;
					&:hover {
						background-color: @color-button-secondary-hover;
					}
				}
			}
			.yui-cal-nav-btn {
				background: none;
				border: none;
				button {
					background-color: @color-button-primary;
					color: @color-white;
					border: none;
					font-size: 15px;
					width: 70px;
					margin: 5px 10px 10px;
					&:hover {
						background-color: @color-button-primary-hover;
					}
				}
			}
			.yui-cal-nav-m {
				.yui-cal-nav-mc {
					// temporary important
					margin-left: 0  !important;
				}
			}
		}
		.yui-cal-nav-y {
			.yui-cal-nav-yc {
				margin-bottom: 16px;
				float: left;
			}
		}
	}
	table.yui-calendar {
		width: 320px;
		border-collapse: initial;
		a {
			transition: none;
		}
	}
	.yui-calendar {
		.calhead {
			.calheader {
				padding: 10px 0;
				.calnavleft {
					background-position: 0 0;
					background-image: url("images/left.png");
					height: 17px;
					left: 10px;
					top: 12px;
				}
				.calnavright {
					background-image: url("images/right.png");
					background-position: 0 0;
					height: 17px;
					right: 10px;
					top: 12px;
				}
			}
		}
		a.calnav {
			color: @color-body;
			font-size: 18px;
			font-weight: normal;
			border: none;
			text-decoration: none;
		}
		td.calcell {
			border: none;
			a {
				color: @color-body;
				padding: 6px;
				height: auto;
				&:hover {
					background: @color-light-grey;
					color: @color-body;
				}
			}
			&:hover {
				background-color: @color-light-grey;
			}
			&.selected {
				background-color: @color-blue;
				a {
					background: none;
					color: @color-white;
				}
				&.calcellhover {
					background-color: @color-blue;
				}
			}
			&.oom {
				background-color: @color-white;
				padding: 6px;
			}
			&.today {
				border: none;
				background-color: @color-dark-blue;
				a {
					background-color: @color-dark-blue;
					color: @color-white;
					border: none;
				}
				&.calcellhover {
					background-color: @color-blue;
					a {
						background-color: @color-blue;
					}
				}
			}
		}
		.calweekdayrow {
			th {
				padding: 10px 0;
			}
			.calweekdaycell {
				&:first-child {
					padding-left: 10px;
				}
				&:last-child {
					padding-right: 10px;
				}
			}
		}
		.calweekdaycell {
			color: @color-body;
			background-color: @color-light-grey;
			text-transform: uppercase;
			font-size: 11px;
			font-weight: normal;
		}
	}
	.mask {
		opacity: 0.7;
	}
	.yui-panel {
		border: none;
		background-color: @color-white;
		margin-right: 0;
		.hd {
			font-size: 20px;
			line-height: 1;
			padding-top: 30px;
			border: none;
			border-radius: 3px;
			border: none;
			background: @color-white none;
			text-align: center;
			margin: 0;
		}
		.bd {
			background-color: @color-white;
			border: none;
			background: none;
			display: table-cell;
		}
		.ft {
			background-color: @color-white;
			border: none;
			background: none;
		}
	}
	.container-close {
		background: url("images/close.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		background-repeat: no-repeat;
		width: 30px;
		height: 30px;
		top: 10px;
		width: 30px;
	}
}
.calyearleft {
	display: none;
}
.calyearright {
	display: none;
}
.xforms-input {
	input.xforms-type-date {
		width: 100% !important;
		//		margin-right: 48px;
	}
}
.xbl-fr-alert-dialog {
	.xbl-fr-alert-dialog-message {
		padding-left: 0;
		label {
			top: 0;
			width: 100%;
			text-align: center;
		}
	}
	.xbl-fr-alert-dialog-buttons {
		.xforms-trigger {
			button.btn-primary {
				background-image: inherit;
				background-color: @color-blue;
				line-height: 28px;
				border: none;
				text-transform: uppercase;
				color: @color_2;
				cursor: pointer;
				font-size: 14px;
				width: 200px;
				display: block;
				margin: 0 auto 10px;
				outline: none;
			}
			button {
				&:hover {
					background-color: @color-blue;
				}
			}
		}
		border: none;
	}
}
.xbl-fr-alert-dialog.xbl-fr-alert-dialog-info {
	.xbl-fr-alert-dialog-message {
		background-image: none;
		padding: 0 34px;
		text-align: center;
		min-height: initial;
	}
}
.page-multiStepCheckoutSummaryPage {
	.orbeon {
		.xforms-type-date {
			&:after {
				left: auto !important;
				right: 2px !important;
				top: 15px;
			}
		}
	}
}
.xforms-loading-loading {
	top: 0;
	right: 0;
	left: auto;
	display: none !important;
}
.xbl-fr-dropdown-select1 {
	label {
		margin-top: 11px !important;
	}
}
.page-PropertyInsurancesHomeownersCategoryPage {
	.section1 {
		margin: 0;
	}
	.navbar-inverse {
		display: none;
	}
}
.page-AutoInsurancesCategoryPage {
	.orbeon-portlet-body {
		form {
			margin-bottom: 0;
		}
	}
	#content {
		.orbeon-portlet-body {
			form {
				.container {
					margin-bottom: 0;
				}
			}
		}
	}
}
.xbl-fr-box-select {
	.xforms-select-appearance-full {
		.xforms-items {
			height: auto !important;
		}
	}
}
.fr-language-choice {
	display: inline-block;
}
/****************************************/
/*********ORBEON BANKING START***********/
/****************************************/
.banking {
	.xform-container__description {
		visibility: hidden;
	}
	.xform-container__form {
		.box-shadow(0px; 0px; 60px; 2px; @color-grey; 100%);
		border: 1px solid @color-grey;
	}
	&.yui-skin-sam {
		.yui-calcontainer {
			.yui-cal-nav {
				.yui-cal-nav-btn.yui-default {
					button {
						background-color: @color-banking-darker-blue;
						&:hover {
							background-color: @color-banking-darkest-blue;
						}
					}
				}
				.yui-cal-nav-btn {
					button {
						background-color: @color-banking-blue;
						&:hover {
							background-color: @color-banking-dark-blue;
						}
					}
				}
			}
		}
	}
	.orbeon.orbeon-portlet-div {
		.orbeon-portlet-body {
			.xforms-form {
				margin: 0;
				padding: 20px;
				.fr-border {
					background-color: @color-white;
					border: none;
					padding: 0;
				}
				.xbl-component > .xforms-group {
					margin: 0;
				}
				.xbl-fr-section, .xxforms-animate {
					background-color: @color-white;
					padding: 0;

				}
				.fr-section-title {
					display: none;
				}
				.additional-applicant {
					margin-top: 40px;
					.fr-section-title {
						display: block;
						background-color: @color-white;
						color: @color-banking-dark-blue;
						display: block;
						text-align: center;
						text-transform: capitalize;
						padding-bottom: 10px;
						margin-bottom: 20px;
						& > span {
							padding-left: 0;
						}
					}
					h3 {
						&.fr-section-title {
							display: none;
						}
					}
					.xbl-component.xbl-fr-section {
						border-bottom:none;
					}
				}
				select {
					.appearance-none;
					border-width: 1px !important;
					border-style: solid !important;
					.grey-border-on;
					font-weight: bold;
					background-image: linear-gradient(45deg, transparent 50%, black 50%), linear-gradient(135deg, black 50%, transparent 50%);
					background-position: calc(97%) calc(50%), ~"calc(97% + 5px)" calc(50%);
					background-size: 5px 5px, 5px 5px, 1px 1.5em;
					background-repeat: no-repeat;
					padding: 4px 10px;
				}
				.xforms-label {
					color: @color-semi-dark-grey;
					position: relative;
					line-height: 20px;
					@media (max-width: 767px) {
						padding-right: 0;
						padding-left: 5px;
					}
					& + .xforms-input-input,
					& + .xforms-control,
					& + select,
					& + .xforms-items, {
						.appearance-none;
						box-shadow: none;
						padding: 0 4px;
						font-weight: bold;
					}
					& + textarea {
						border-width: 1px !important;
						border-style: solid !important;
						.grey-border-on;
						box-shadow: none;
						border-radius: 5px;
						font-weight: bold;
					}
					& + .xforms-control {
						padding: 0;
						@media (max-width: 767px) {
							text-align: center;
						}
					}
					& + .xforms-input-input:not(.xforms-type-date) {
						border: none !important;
						.grey-border-on;
						border-bottom: 1px solid @color-grey !important;
					}
				}
				.xforms-required {
					&.xforms-empty {
						.xforms-label:before, .xforms-label:after {
							color: @color-banking-dark-blue;
						}
					}
				}
				input {
					&[type="text"], &[type="password"], &[type="datetime"],
					&[type="datetime-local"], &[type="date"], &[type="month"],
					&[type="time"], &[type="week"], &[type="number"],
					&[type="email"], &[type="url"], &[type="search"],
					&[type="tel"], &[type="color"] {
						.appearance-none;
						box-shadow: none;
						border: none !important;
						.grey-border-on;
						font-weight: bold;
						border-bottom: 1px solid @color-grey !important;
						border-radius: 0;
					}
				}
				.xforms-invalid > .xforms-alert.xforms-active,
				.orbeon .xforms-alert.xforms-active.xforms-invalid {
					color: @color-banking-dark-blue;
					margin-bottom: 8px;
					text-align: left;
					margin-top: 0.2em;
					text-indent: 0;
				}
				.xforms-filled .xforms-alert.xforms-active {
					display: block;
					white-space: normal;
					height: auto;
				}
				.fr-mode-edit .fr-grid {
					margin: 0;
					.fr-grid-body {
						.xforms-select .xforms-items {
							.xforms-selected, .xforms-deselected {
								display: block;
								.checkbox {
									position: relative;
									padding-left: 20px;
									color: @color-grey;
									text-transform: none;
									margin-bottom: 8px;
									margin-top: 8px;
									input {
										display: none;
										&:checked  {
											& + span  {
												font-weight: bold;
												color: @color-black;
												&:before {
													border: 2px solid @color-banking-dark-blue;
													font-family: 'Glyphicons Halflings', sans-serif;
													font-weight: normal;
													content: "\e013";
													color: @color-banking-dark-blue;
													line-height: 1;
												}
											}
										}
									}
									& > span {
										&:before {
											transition: all 0.3s linear;
											-webkit-transition: all 0.3s linear;
											content: "";
											display: inline-block;
											position: absolute;
											top: 0;
											left: 0;
											height: 20px;
											width: 20px;
											border: 2px solid @color-grey;
											border-radius: 5px;
										}
									}
								}
							}
						}
						.xforms-type-date {
							.xforms-input-input.xforms-type-date {
								border-width: 1px !important;
								border-style: solid !important;
								.grey-border-on;
							}
						}
					}
				}
			}
		}
		.xforms-hint-appearance-full .xforms-hint,
		.xforms-hint-appearance-inline .xforms-hint {
			color:@color-banking-dark-blue;
			font-weight: bold;
		}
	}
	.orbeon .xbl-fr-grid {
		margin: 0;
		.fr-grid:not(.fr-repeat) .fr-grid-body .fr-grid-tr {
			height: auto;
		}
	}
	.xbl-fr-dropdown-select1 {
		label {
			margin-top: 5px !important;
		}
	}
	.xforms-select1 {
		&.card-design {
			.xforms-label {
				@media (max-width: 767px) {
					margin-bottom:20px;
				}
			}
			.xforms-items {
				.xforms-selected, .xforms-deselected {
					text-align: center;
					max-width: 206px;
					width: 100%;
				}
				.radio{
					width:100%;
					span {
						padding-top: 156px;
						padding-bottom:4px;
						@media (max-width: 767px) {
							margin: 0 0 10px 0;
						}
						&::before {
							top: auto;
							bottom: 31px;
						}
						&::after {
							content: '';
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							width: 203px;
							height: 117px;
							border-radius: 0;
						}
					}
				}
			}
		}
		.xforms-items {
			padding:0;
			@media (max-width: 767px) {
				text-align: center;
			}
			.xforms-selected, .xforms-deselected {
				text-align: center;
				max-width: 90px;
				width: 100%;
				margin-right: 0;
			}
			span {
				.radio {
					font-weight: bold;
					input[type="radio"] {
						//display: none; //cannot use this as it affects showing of the warning messages below the field
						border: none;
						height: 0;
						.appearance-none;
						&:checked {
							& ~ span::before{
								border: 4px solid @color-banking-darker-blue;
							}
							& ~ span::after{
								background: transparent;
							}
						}
					}
					span {
						padding: 5px 0 24px 0;
						width: 100%;
						white-space: nowrap;
						line-height: inherit;
						display: block;
						overflow: hidden;
						text-overflow: ellipsis;
						margin: 6px;
						text-indent: 0;
						text-transform: none;
						position: relative;
						&::before {
							transition: border 0.3s linear;
							-webkit-transition: border 0.3s linear;
							border: 1px solid @color-grey;
							height: 15px;
							width: 15px;
							position: absolute;
							top: 34px;
							left: 50%;
							transform: translateX(-50%);
							-webkit-transform: translateX(-50%);
						}
					}
				}
			}
		}
	}
}

/********* This block is for banking also, separated for most efficient way to set different images for card design span::after element***********/
.xforms-items {
	.xforms-selected, .xforms-deselected {
		&:first-of-type {
			.radio {
				span {
					&::after {
						.banking .xforms-select1.debit-card  &{
							background: url(images/black_edition.png) center top no-repeat;
						}

					}
				}
			}
		}
		&:last-of-type {
			.radio {
				span {
					&::after {
						.banking .xforms-select1.debit-card  &{
							background: url(images/azure_edition.png) center top no-repeat;
						}
					}
				}
			}
		}
	}
}

