//@screenXs:480px;
//@screenSm:640px;
//@screenMd:1024px;
//@screenLg:1400px;
//
//@screenXsMin:480px;
//@screenSmMin:640px;
//@screenMdMin:1024px;
//@screenLgMin:1400px;
//
//@screenXsMax:639px;
//@screenSmMax:1023px;
//@screenMdMax:1399px;

@font-face {
    font-family: 'milo';
    src:  url('../fonts/MiloRegular.woff') format('woff'),
    url('../fonts/MiloRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'milo-bold';
    src:  url('../fonts/MiloBold.woff') format('woff'),
    url('../fonts/MiloBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'milo-slab';
    src:  url('../fonts/MiloSlabforADACW04-Bold.eot');
    src:  url('../fonts/MiloSlabforADACW04-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MiloSlabforADACW04-Bold.ttf') format('truetype'),
      url('../fonts/MiloSlabforADACW04-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

@y : #ffcc00;
@milo:'milo';
@miloBold:'milo-bold';
@miloSlab:'milo-slab';
h1,h2{
    font-family: @miloSlab;
    color:black;
    text-transform: capitalize;
}

html,body{
    width:100%;
    height:100%;
    font-family:@milo;
    font-size:1.2em;
}
label{
    font-family:@miloBold;
    font-size:14px;
    font-weight: 600;
    color:black;
}
.btn-primary,.primary-button{
    font-family:@milo !important;
    background-color: @y !important;
    color:black !important;
    border-color:@y !important;
}
.main-title__headline-border{
    border:0 !important;
    text-align: left;
}
.user-register__headline,.login-page__headline{
    color:black;
    font-family:@miloBold;
}
.js-mainHeader{
    background-color:@y !important;
    .nav__right{
        margin-top:1em;
        .nav__links{
            li a{
                color:black !important;
                font-size: 1em;
                &:hover{
                    color:black !important;
                }
            }

        }
    }
}
.branding-mobile{
    background-color:@y;
}
.branding-mobile > div img { 
    max-width: 90px;
}
footer{
    position: relative;
    width: 100%;
    float: left;
    padding: .6em 1em 1em 1em;
    background-color:@y;
    background:@y;
    .l-footer-center {
        background-color:@y;
        width: 100%;
        position: relative;
        display: block;
        float: left;
    }
    .followUs{
        float: right;
        margin-top: 1.8em;
        margin-right: 2em;
        color: black;
        font-size: .7em;
    }
    .title{
        color:black;
    }
    .m-left{
        float:left;
        width:50%;
        img{
            float: right;
        }
        @media (max-width:@screenSm){
            width:100%;
            img{
                margin:0 auto;
                display:block;
                float:none;
            }
            .followUs{
                display:none;
            }
        }

    }
    .m-right{
        width:50%;
        float:left;
        margin-top: .8em;
        @media (max-width:@screenSm){
            width:100%;
        }
    }
    .m-right-list{
        list-style-type: none;
        list-style: none;
        @media (max-width:@screenSm){
            display: flex;
            flex-flow: column;
        }
        li{
            color:black !important;
            float:left;
            margin-right:1.5em;
            @media (max-width:@screenSm){
                text-align: center;
            }
        }
        a{
            color:black !important;
            font-size: .7em;
            &:hover{
                border-bottom: 1px solid black;
            }
        }
    }
}
.navigation--bottom{
    border:0 !important;
}

.js-mainHeader{
    .navigation{
        .layout;
    }
}


.categoryNavigation{
    width:100%;
    position: relative;
    background-color: @y;
    float: left;
    border-top: 1px solid white;
    padding: .5em;
    @media (max-width:@screenSm){
        display:none;
    }
    ul{
        list-style: none;
        .layout;
        display: flex;
        text-align: right;
        li{
            float:left;
            margin-right:1em;
            font-size:.8em;
            font-family:@miloBold;
            flex-grow: 1;
            color:black;
            a{
                color:black;
            }
        }
    }
}
header{
    margin-bottom:0;
}
main{
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}
.glyphicon.glyphicon-menu-hamburger{
    color:black;
}
.adacSearch{
    display: inline-block;
    width:200px;
    input{
        border:0;
        background-color:@y;
        border-bottom:1px solid black;
        box-shadow: 0 0 0 !important;
        &::placeholder{
            color:black;
        }
        &:focus{
            border-bottom:1px solid black;
        }
    }
    .glyphicon.glyphicon-search{
        color:black;
    }
}

.navigation.navigation--bottom{
    background-color:@y;
    li{
        color:black;
        a{
            font-size:.7em;
            color:black;
        }
    }
    .userSign{
        color:black;
    }
    .js-userAccount-Links{
        background-color:transparent;
        li{
            background-color:transparent;
        }
    }
    .navigation__overflow{
        @media (max-width:@screenSm){
            border-top:1px solid white;
        }
    }
    .liUserSign{

            border-top:1px solid white;

        a{
            color:black !important;
        }
        .userSign{
            border-bottom:black !important;
        }

    }
    .find-agent-link {
        color:black !important;
    }
}
#accNavComponentDesktopOne{
    background-color:@y;
    border-top:1px solid white;
}
.nav__links{
   li, li a,li span{
        color:black !important;
        background-color: @y;
        font-family:@milo;
        &:before{
            font-family:'Glyphicons Halflings', sans-serif;
        }
    }
    .auto.col-md-4{
        border-right: 1px solid white !important;
        border-bottom: 1px solid white !important;
    }
}
.js-nav-collapse{
    background-color:@y;
}

.js-enquire-offcanvas-navigation{
    li:hover,a:hover{
        background-color: @y !important;
    }
    li a{
        padding: 13px 30px;
    }
    .userGroup{
        background-color: @y;
        *{
            color:black;
            font-size:.7em;
        }

    }
}
.navigation--bottom{
    @media (max-width:@screenSm){
        height:100%;
    }
}
#signedInUserOptionsToggle{
    display:none !important;
}
.navigation--bottom .nav__links--products li.liUserSign{
    border-bottom:1px solid #FFF;
}

.fancyIcon{
    background-repeat:no-repeat;
    width:36px;
    height:36px;
    display:block;
    float:left;
    display: block;
    margin: 1.2em;
}
.fancy-0{

    background:url('../images/navi/Policy.png');
}
.fancy-1{
   //
}
.fancy-2{

    background:url('../images/navi/Payment.png');
}
.fancy-3{

    background:url('../images/navi/PremiumCalendar.png');
}
.fancy-4{

}
.fancy-5{

    background:url('../images/navi/Personal_details.png');
}
.fancy-6{

    background:url('../images/navi/Email.png');
}
.fancy-7{

    background:url('../images/navi/Close acc.png');
}
.fancy-8{
    background:url('../images/navi/Pass.png');
    //background:url('../images/navi/Group.png');
}

label{
    font-size:.8em;
}
.pText{
    font-size:15px;
}
input::placeholder,input:placeholder,input::-webkit-input-placeholder{
    font-size:15px;
    color:#CCC;
}

.o-layout-main-stage{
    display:block;
    width:100%;
    position: relative;
    h1{
        text-align: left;
    }
    img{
        width:100%;
    }
    .primary-button__default{
        padding:1em;
        cursor: pointer;
    }
}

.asideContent{
    position: absolute;
    top:1em;
    background-color:rgba(255,255,255,.8);
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50%, -50%);
    padding:3em;
    width:60%;
    .asideLeft{
        width:60%;
        margin:0;
        float:left;
    }
    .asideRight{
        width:40%;
        margin:0;
        float:left;
        box-sizing: border-box;
        padding:1em;
        border-left:1px solid #ccc;
        height: 200px;
        .btn-icon:before{
            left:10px;
        }
        .btn-icon{
            padding-left:40px;
        }
        .btn-icon:after{
            display:none;
        }
    }
    .h-space-s{
        font-size:16px;
    }
    @media (max-width:@screenMd){
        position: relative;
        top:initial;
        left:initial;
        transform: initial;
        -webkit-transform:initial;
        width:100%;
        padding-top:1em;
        margin-top:0;
        float:left;
        padding-bottom:2em;
        .asideLeft,.asideRight{
            width:100%;
            border:0;
            padding:0;
        }
    }

}
.page-homepage{
    #cboxTitle{
        display:none !important;
    }
}
.page-payment-details{

    .popup-header{
        background-color:transparent;
    }
    #addSepaButtonId,.a-basic-btn{
        background-color:@y;
        color:black;
        float:right;
        margin-right:2em;
    }
    .popContent{
        p{
            font-size:.6em;
        }

    }
    .addPaymentUserInput{
        margin:2em 0;
    }
    .actionButtons{
        .btn-primary{
            float: right;
            padding: .1em 1em;
        }
        .btn-default{
            background-color:black !important;
            color:white !important;
            padding: .2em 1em;
        }
    }
    .ll-label,.ibanInput{
        float:left;
        width:50%;
        input{
            width:100%;
        }

    }
}

.heading-headline{
    color:black;
}
//background:url('../images/navi/Address.png');

// #colorbox{
//     transition: width .1s, height .1s;
// }
.aditionalInformation{
    .accountHolder{
        display:none;
    }
    label{
        font-size:.7em !important;
    }
    input{
        font-size:18px;
    }
    width:100%;
    float:left;
    .form-group{
        width:50%;
        float:left;
        &.half{
            width:25%;
        }
    }
    .form-row{
        width:100%;
        float:left;
        .row-label{
            width:40%;
            float:left;
            &.full{
                width:100%;
            }
        }
        .form-group{
            width:50%;
            float:right;
        }
        label{
            padding-right: 1em;
            line-height: 2em;
        }
        input[type="text"]{
            float:right;
            width:100%;
        }
    }
    .pInput{
        float:left;
        input{
            width: 110px !important;
            margin-right: .5em;
            .cstm{
                margin-right:0 !important;
            }
        }
    }
}

#js-cookie-notification{
    font-size:.8em;
}

.page-payment-details{
    .rows-info__item--label{
        width:47%;
        font-size:16px;
    }
    .rows-info__item--paragraph{
        font-size:16px;
    }
}


.page-policy-details{
	.account-section-form{
		max-width:500px;
		display:none;
	}
	.accordion-item__wrapper{
		.addPerson{
			    font-family:@milo !important;
    			background-color: @y !important;
    			color:black !important;
    			border-color:@y !important;
    			width:250px;
		}
		.account-section-content{
			.hideAddPerson{
				background-color:black !important;
				color:white !important;
				width:initial;
				border-color:black !important;
			}
		}
	}
}
