.layout{
    max-width: 980px;
    margin:0 auto;
    padding: 0 30px;
    // @media (max-width:@screenSm){
    //     max-width:100%;
    //     padding:0 30px;
    // }
    @media (min-width:@screenSm)and (max-width:@screenMd){
        max-width:100%;
        padding:0 30px;
    }
}