/**************************************************/
/******THIS FILE SHOULD CONTAIN INDEPENDENT *******/
/******BLOCKS DEFINED IN BEM METHODOLOGY **********/
/**************************************************/

.big-glyphicon {
	font-size: 56px;
	margin: 10px auto;
	border: @border-grey;
	border-radius: 50%;
	padding: 19px;
	.box-shadow(0; 0; 6px; 2px; @color-mild-grey; 100%);
	&--theme-insurance {
		background-color: @color-banking-dark-blue;
		color: @color-mild-grey;
	}
}
.list-with-glyphicons {
    margin: 30px auto;
    padding-left: 0;
    display: inline-block;
	&__item {
		list-style: none;
		font-size: 16px;
		text-align: left;
		margin: 10px auto;
		.glyphicon {
			color: @color-dark-blue;
			margin-right: 10px;
			@media (max-width: @screen-xs) {
				display: block;
			}
		}
		@media (max-width: @screen-xs) {
			text-align: center;
			margin: 12px auto;
		}
	}

}
.section-header {
	&__wrapper {
		font-weight: normal;
		font-size: 20px;
		background:none;
		margin: 30px auto 0;
	}
	&__heading {
		.linear-gradient-background (@color-blue, @color-banking-darkest-blue, 50%, 100%);
		border: none;
		color: @color-white;
		padding: 20px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
		font-weight: 600;
		margin: 0 auto;
		&--lean {
			font-weight: normal;
			text-align: left;
			font-size: 14px;
			line-height: 1.4;
		}
		&--small-title {
			color: @color-white;
			font-size: 18px;
			text-align: left;
		}
	}
}
.rows-info {
  padding: 10px;
  &__item {
    display: inline-block;
    width: 50%;
    margin-right: -2px;
    text-align:left;
    .ellipsis;
    @media (max-width: @screen-xs) {
      font-size: 12px;
    }
    &--label {
      text-transform: uppercase;
    }
    &--paragraph{
      padding-left: 10px;
    }
  }
}
.section-row {
	display: block;
	&--grey {
		background-color: @color-light-grey;
		border: 1px solid @color-grey;
		border-top: none;
	}
	.section-cell {
		padding: 30px 10px;
	}
	&.collapse {
		.arrow;
	}
}
.list-data {
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: @color-white;
	&--closed {
		display: none;
	}
	&__list-item {
		padding: 20px;
		list-style: none;
		background-color: @color-white;
		@media (max-width: @screen-md) {
			padding: 12px 0;
		}
	}
	&__info {
		position: relative;
		display: inline-block;
		padding-left: 20px;
		&:before {
			.blue-dot;
		}
	}
}
.notice-text {
	background-color: @color-white;
	border: @border-grey;
	.box-shadow(0; 0; 6px; 2px; @color-mild-grey; 100%);
	border-radius: 5px;
	padding: 20px;
	margin: 20px 10px;
	@media (max-width: @screen-md-max) {
		margin: 20px 0;
		text-align: center;
	}
	@media (max-width: @screen-xs) {
		padding: 10px;
	}
	&__heading {
		font-weight: 600;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;
		&--blue {
			color: @color-blue;
		}
		&--dark-blue {
			color: @color-dark-blue;
		}
	}
	&__subheading {
		font-size: 18px;
	}
	&__content {
		font-size: 20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
/***CARDS***/
.cards {
	&__wrapper {
		border: @border-grey;
		border-radius: 15px 15px 0 0;
		text-align: center;
		margin: 20px auto 20px;
		position: relative;
		display: block;
		&--border-primary {
			border-bottom: 1px solid @color-dark-blue;
		}
		&--border-secondary {
			border-bottom: 1px solid @color-blue;
		}
	}
	&__title {
		background-color: @color-mild-grey;
		border-radius: 15px 15px 0 0;
		padding: 20px 0;
		& > * {
			margin-top: 15px;
		}
		&--gradient-background {
			.linear-gradient-background (@color-blue, @color-banking-darkest-blue, 50%, 100%);
		}
		&--border-primary {
			border-bottom: 4px solid @color-dark-blue;
		}
		&--border-secondary {
			border-bottom: 4px solid @color-blue;
		}
		.images__wrapper {
			background-color: transparent;
			width: 70px;
			height: auto;
			padding: 0;
			&--white-bck {
				background-color: @color-white;
				border-radius: 50%;
				padding: 10px;
			}
		}
	}
	&__caption, &__info {
		font-weight: bold;
		&--color-primary {
			color: @color-dark-blue;
		}
		&--color-secondary {
			color: @color-blue;
		}
		&--color-white {
			color: @color-white;
		}
	}
	&__details-wrapper {
		.cards__data {
			padding: 20px 0;
			&:nth-of-type(even) {
				background-color: @color-mild-grey;
			}
			.title {
				display: block;
				font-weight: 600;
			}
		}
		&--grey {
			background-color: @color-light-grey;
			.cards__data {
				&:nth-of-type(even) {
					background-color: @color-light-grey;
				}
			}
		}
	}
	&-button-wrapper {
		&--border-primary {
			border-top: 1px solid @color-dark-blue;
		}
		&--border-secondary {
			border-top: 1px solid @color-blue;
		}
	}
	&__button {
		margin: 0 auto;
		padding: 40px;
		max-width: 260px;
		[disabled] {
            opacity: 0.7;
			cursor: not-allowed;
        }
		&--spacing-mid {
			padding: 20px 40px;
		}
	}
}
/***CARDS END***/
.account-cards-actions {
	position: absolute;
	top: 14px;
	right: 14px;
	.action-links--primary-button {
		&:hover, &:active, &:focus {
			color: @color-blue;		
		}
	}
	.glyphicon-trash {
	  font-size: 16px;
	}
}
.item-headline {
	color: @color-white;
	padding: 20px 0;
	text-align: center;
	@media (max-width: @screen-md) {
		padding: 20px 10px;
	}
	&--type-uppercase-chubby{
		background-color: @color-link-hover;
		text-transform: uppercase;
		font-weight: 600;
	}
	&--type-big-font-slim {
		background-color: @color-blue;
		font-size: 20px;
		font-weight: 300;
	}
}
.accordion {
	margin-top: 30px;
	font-weight: normal;
	text-transform: none;
	&__form-button {
		margin: 40px auto 20px;
		@media (max-width: @screen-xs-max) {
			margin-top: 0;
			&--bottom {
				margin-bottom: 0;
			}
		}
	}
	&-item {
		border-bottom: @border-grey;
		margin-top: 40px;
		&__wrapper {
			border: @border-grey;
			border-bottom: none;
			padding: 0;
			position: relative;
		}
		&--margin-t-30 {
			margin-top: 30px;
		}
		&__image {
			background-size: 100%;
			display: inline-block;
			height: 96px;
			width: 96px;
			&--policy {
				background-image: url(../../../addons/financialacceleratorstorefront/responsive/theme-alpha/images/96_96px_policy.svg);
			}
			&--terms {
				background-image: url(../../../addons/financialacceleratorstorefront/responsive/theme-alpha/images/96_96px_terms_conditions.svg);
			}
		}
		&__value {
			@media (max-width: @screen-xs-max) {
				text-align: right;
			}
		}
		&__download {
			text-align: right;
			@media (max-width: @screen-xs-max) {
				margin-top: 20px;
				text-align: center;
			}
		}
		&__heading {
			font-size: 17px;
			font-weight: 500;
			height: 55px;
			line-height: 55px;
			background: @color-light-grey;
			cursor: pointer;
			margin: 0;
			padding: 0 60px;
			.ellipsis;
			&--gradient {
				.linear-gradient-background(@color-blue, @color-banking-darkest-blue, 50%, 100%);
				color: @color-white;
				font-size: 20px;
			}
			&:hover {
				background-color: @color-blue;
				color: @color-white;
				.review-accordion-item__open:before {
					color: @color-white;
				}
			}
			&:before {
				font-family: 'Glyphicons Halflings', sans-serif;
				font-size: 16px;
				position: relative;
				left: -40px;
			}
			&.active {
				background-color: @color-blue;
				color: @color-white;
				.accordion-item__open:before {
					transform: rotateZ(180deg);
				}
			}
		}
		&--valid {
			.glyphicon-ok;
		}
		&--invalid {
			.glyphicon-remove;
		}
		&__open {
			cursor: pointer;
			display: block;
			padding: 0 20px;
			top: 0;
			right: 0;
			left: auto;
			position: absolute;
			width: 70px;
			height: 55px;
			line-height: 55px;
			text-align: center;
			opacity: 1;
			.glyphicon-menu-down;
			&:before {
				.glyphicon;
				.transition;
				float: right;
				font-size: 20px;
				line-height: 55px;
			}
		}
		&__body {
			padding: 30px 46px 20px;
			background: @color-white;
			overflow: hidden;
			display: none;
			&.opened {
				display: block;
			}
			@media (max-width: @screen-xs-max) {
				padding: 25px 0 20px;
			}
		}
		&__list {
			margin-bottom: 25px;
			float: left;
			list-style-type: none;
			padding-left: 0;
			width: 100%;
			&--style-type {
				padding-left: 24px;
				.accordion-item__list-item {
					padding-left: 10px;
					list-style-type: circle;
				}
			}
			&--enhanced {
				padding-left: 0;
				.accordion-item__list-item {
					border-bottom: 1px solid @color-grey;
					padding: 14px 0;
				}
			}
			@media (max-width: @screen-xs-max) {
				margin-bottom: 40px;
			}
		}
		&__list-item {
			float: left;
			width: 100%;
			padding-left: 20px;
			padding-right: 10px;
			&--title {
				font-weight: bold;
				margin-bottom: 10px;
			}
			&.margin-b-20:last-child {
				margin-bottom: 0;
			}
			&:last-child {
				border-bottom: none;
			}
		}
		&__date {
			@media (max-width: @screen-sm) {
				width: 100%;
				display: block;
			}
		}
		&__list-title {
			margin-top: 0;
			margin-bottom: 20px;
			padding-left: 24px;
		}
		&__button {
			@media (max-width: @screen-xs-max) {
				margin-bottom: 20px;
			}
		}
		&__text {
			padding-left: 24px;
		}
		&__docs-flow {
			pointer-events: none;
			cursor: pointer;
		}
	}
}
/***DATEPICKER***/
.ui-datepicker {
	width: auto;
	padding: 10px;
	.box-shadow(0; 2px; 8px; 3px; @color-dark-grey; 30%);
	.ui-datepicker-title select {
		color: @color-dark-blue;
		margin: 1px 4px;
		border-color: @color-grey;
		padding: 4px;
	}
	th {
		background-color: @color-white;
		color: @color-blue;
		padding: 10px;
		&:last-child {
			text-align: center;
		}
	}
	td span, td a {
		padding: 6px;
		vertical-align: middle;
		&.ui-state-hover, &.ui-state-highlight, &.ui-state-active {
			background-color: @color-blue;
			border-color: transparent;
		}
	}
	.ui-datepicker-prev, .ui-datepicker-next {
		top: 6px;
		color: @color-dark-blue;
		&.ui-state-hover {
			top: 6px;
		}
	}
}
/***DATEPICKER END***/
/****Product Information (2nd checkout step) ***/
.listed-infos {
	border: @border-grey;
	border-top: none;
	background-color: @color-quotes-bckg;
	font-size: 14px;
	padding: 30px;
	overflow: hidden;
	margin-bottom: 30px;
    &__details {
		display: inline-block;
		list-style: none;
		padding: 0 30px 0 0;
		margin-bottom: 30px;
		&--right-margin {
			margin-right: 10px;
		}
		@media (max-width: @screen-xs) {
			margin-bottom: 20px;
		}
	}
	.yui-skin-sam & {
		background-color: @color-white;
		border: none;
		margin-top: 35px;
		padding: 0;
	}
}
/****Product Information (2nd checkout step) END ***/
