<?xml version="1.0" encoding="UTF-8"?>

<taglib xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd"
        version="2.1">
	<tlib-version>1.0</tlib-version>
	<short-name>financial</short-name>
	<uri>http://hybris.com/tld/financialtags</uri>

	<tag>
		<description>Builds up a Comparison table from the searchPageData passed</description>
		<name>comparisonTable</name>
		<tag-class>de.hybris.adac.financial.tags.InsuranceComparisonTag</tag-class>
		<body-content>JSP</body-content>
		<attribute>
			<description>the var name to access the comparison table</description>
			<name>var</name>
			<required>true</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<description>Name of the bean that creates the Comparison table and converts the data for comparison</description>
			<name>tableFactory</name>
			<required>true</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<description>The search result object that gets converted into a Comparison table</description>
			<name>searchPageData</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<description>request or page context. Default: Request scope</description>
			<name>scope</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
	</tag>

	<tag>
		<description>Build up a progress steps bar for the pages</description>
		<name>progressStepsBar</name>
		<tag-class>de.hybris.adac.financial.tags.InsuranceProgressStepsBarTag</tag-class>
		<body-content>JSP</body-content>
		<attribute>
			<description>the var name to access the comparison table</description>
			<name>var</name>
			<required>true</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<description>Spring bean of a map of the progress steps to assign to the pages.</description>
			<name>progressStepMapKey</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<description>step transition strategy for record the step status</description>
			<name>stepTransitionStrategyKey</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<description>URL of the current page to indicate the current step</description>
			<name>currentUrl</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<description>request or page context. Default: Request scope</description>
			<name>scope</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
	</tag>

</taglib>
